public/assets/css/font-awesome.css
public/assets/css/font-awesome.min.css
public/assets/css/resets.css
public/assets/fonts/
public/assets/js/firebase.js
public/assets/js/firebase.min.js
public/assets/js/database.min.js
public/assets/js/database.js
public/assets/js/selectivizr.min.js
