@charset "UTF-8";

/* load in font */
@font-face {
  font-family: 'icon';
  src: url("../font/icon.eot");
  src: url("../font/icon.eot?#iefix") format('embedded-opentype'), url("../font/icon.woff") format('woff'), url("../font/icon.ttf") format('truetype'), url("../font/icon.svg#icon") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=4.1.0');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../font/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../font/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../font/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
	height:100%;
	font-family:'FontAwesome','Icon','PT Serif', Verdana, sans-serif;
    
}

/* styling of selected/highlighted text */
::-moz-selection{background:#517fa4;color:#fff;text-shadow:none}
::selection{background:#517fa4;color:#fff;text-shadow:none}

.inner {width:1050px;margin:0 auto}

/* begin
================================================== */

header {
	display:block;
	width:100%;
	background:url('../img/trianglify-bg.png');
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
	-moz-box-shadow: inset 0 0 250px #000000; -webkit-box-shadow: inset 0 0 250px #000000; box-shadow: inset 0 0 250px #000000;
}

	header.maxi,
	header.maxi:before {
		min-height:100%;
		margin-bottom:-34px;
	}

	header.mini,
	header.mini:before {
		min-height:575px;
	}

	header .inner {
		margin:0 auto;
		padding-top:100px;
		text-align:center;
		position:relative;
		z-index:50;
	}

		header .spec p.large {
			letter-spacing: -2px;
			text-transform: uppercase;
			font-size:80px;
			font-weight:bold;
			line-height:80px;
			margin-top:30px;
            color: #ffffff
		}

		header .spec p.medium {
			font-size:60px;
			line-height:80px;
            color: #ffffff
		}

		header .spec p.small {
			font-size:30px;
            color: #ffffff
		}

/* Call to action button */

.calltoaction {
	margin-top:40px;
	display:inline-block;
}

.calltoaction a:hover {
	background:#f6d451;
	box-shadow:none !important;
}

#head .calltoaction a:active {
	border:none;
}

.calltoaction a:after {
	font-family:FontAwesome,icon;
	content:'\f03d';
	padding-left:7px;
	font-size:24px;
	opacity:0.99;
	font-style: normal;
	font-weight: normal;
}

.calltoaction a {
	display: block;
	height: 50px;
	width: 200px;
	border-radius:7px;
	cursor:pointer;
	font-size: 24px;
	padding: 10px 15px;
	text-align:center;
	text-decoration:none;
	border:1px solid #dcba3a;
	border-radius:0;
	background:#f4cf40;
	color:#604e0b;
	text-transform:lowercase;
}

.calltoaction a:hover {
    animation-play-state: paused;
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -o-animation-play-state: paused;
    -ms-animation-play-state: paused;
}

.calltoaction p {
	background: rgba(0,0,0,0.4);
	display: block;
	height: 40px;
	width: 180px;
	margin: -50px 0 0 10px;
	border-radius:5px;
	text-align: center;
	font: 12px/45px 'Muli', Verdana, sans-serif;
	color: #fff;
	position: absolute;
	z-index: -1;
	-webkit-transition: margin 0.5s ease;
	-moz-transition: margin 0.5s ease;
	-o-transition: margin 0.5s ease;
	-ms-transition: margin 0.5s ease;
	transition: margin 0.5s ease;
}

.calltoaction:hover .bottom {margin: -10px 0 0 10px}
.calltoaction:hover .top {margin: -80px 0 0 10px;line-height: 35px}
.calltoaction:active .bottom {margin: -20px 0 0 10px}
.calltoaction:active .top {margin: -70px 0 0 10px}


/* social media icon aligment within header */
header .social.topright {position:absolute;top:20px;right:0}
header .social.topleft {position:absolute;top:20px;left:0}
header .social.bottomright {position:absolute;bottom:20px;right:0}
header .social.bottomleft {position:absolute;bottom:20px;left:0}
header .social li a {background: rgba(0,0,0,0.5)}


/* Typography
================================================== */

.type h2 {
	font-size:50px;
	font-weight:bold;
	padding-bottom:15px;
}

.type h3 {
	font-size:30px;
	padding-bottom:15px;
}

.type h4 {
	font-size:20px;
	line-height:30px;
	padding-bottom:15px;
}

.type p {
	line-height:26px;
	font-size:16px;
}

.type .col2,
.type .col3,
.type .col4 {border-bottom:30px solid transparent;}

.type .col2 {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-o-column-count: 2;
	-o-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
}

.type .col3 {
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-o-column-count: 3;
	-o-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	column-count: 3;
	column-gap: 20px;
}

.type .col4 {
	-moz-column-count: 4;
	-moz-column-gap: 20px;
	-o-column-count: 4;
	-o-column-gap: 20px;
	-webkit-column-count: 4;
	-webkit-column-gap: 20px;
	column-count: 4;
	column-gap: 20px;
}

.type .list {
	list-style-type: square;
	list-style-position:inside;
	line-height:26px;
	font-size:16px;
}

.type .list a,
.type .list a:visited,
.type p a,
.type p a:visited {
	color:#0b94c8;
	-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}

.type .list a:hover,
.type p a:hover {
	color:#7BBFDE;
}

.type .list a:active,
.type p a:active {
	color:#eb4141;
}


/* more icons from the icon font applied see /assets/fonts/ for more */
.icon .time:before { content:"\1F55" }
.icon .comments:before { content:"\E720" }
.icon .draw:before { content:"\270E" }
.icon .idea:before { content:"\1F4A" }
.icon .stats:before { content:"\1F30" }
.icon .edit:before { content:"\2699" }

.bigfeatures {
	font-size:0;
	width:100%;
	display:block;
}

.bigfeatures li {
	padding-top:10px;
	width:25%;
	display:inline-block;
	vertical-align:top;
}

.bigfeatures .icon {
	width: 120px;
	height: 120px;
	background-color:#2cb6f6;background-image:-webkit-linear-gradient(top,#2cb6f6 0,#2394c8 100%);background-image:-moz-linear-gradient(top,#2cb6f6 0,#2394c8 100%);background-image:-ms-linear-gradient(top,#2cb6f6 0,#2394c8 100%);background-image:-o-linear-gradient(top,#2cb6f6 0,#2394c8 100%);background-image:linear-gradient(top,#2cb6f6 0,#2394c8 100%);
	border:3px solid #2cb6f6;;
	box-shadow:0 0 10px #000;
	position: relative;
	border-radius:100px;
	margin:15px auto 0 auto;
}

.bigfeatures li:hover .icon {
	box-shadow:0 0 10px rgba(255,255,255,0.5);
}

.bigfeatures .icon span:before {
    font-family:icon;
    line-height:120px;
    font-size:70px;
    color:#fff;
    display:block;
    z-index:20;
    position:absolute;
    text-align:center;
    width:100%;
	opacity:0.99;
	font-style: normal;
	font-weight: normal;
}

.bigfeatures p {
	line-height: 1.435em;
	vertical-align:top;
	margin-top:-20px;
	text-align:center;
}

.bigfeatures strong {
	text-align:center;
	display:block;
	font-size:26px;
	margin-bottom:3px;
	font-weight:bold;
	color:#fff;
	margin:10px 0;
	padding-top:30px;
}

.bigfeatures p span {
	background:rgba(0,0,0,0.5);
}

hr {
	border:none;
	border-top:2px dashed rgba(0,0,0,0.5);
}

.table  {
	text-align:left;
	margin-top:70px;
	width:100%;

}

	.table > thead th {
		font-size:14px;
		color:#fff;
		padding:10px;
		background:rgba(0,0,0,0.4);
		box-shadow:0 2px 2px #000;
		cursor:pointer;
	}

	.table > thead th:first-child {
		border-radius:3px 0 0 0;
	}

	.table > thead th:last-child {
		border-radius:0 3px 0 0;
	}

	.table td {
		font-size:15px;
		line-height:18px;
		padding:10px;
		border-bottom:1px dashed rgba(0,0,0,0.5);
	}


.table > tbody tr:nth-of-type(odd) {
		background:rgba(255,255,255,0.02);
}

.table > tbody tr:nth-of-type(even) {
		background:rgba(255,255,255,0.04);
}

.table > thead th:hover {
		background:rgba(0,0,0,0.70);

}
.table > thead th:hover:after {	color:rgba(255,255,255,0.15);
}

.table .hover {
	background:rgba(0,0,0,0.15);
}

.headerSortUp {
	color:#fff !important;
	background:rgba(0,0,0,0.7) !important;
}
.headerSortDown {
	color:#fff !important;
	background:rgba(0,0,0,0.7) !important;
}
th:after {
	content:' \25be';
	font-family:icon;
	color:transparent;
	opacity:0.99;
	font-style: normal;
	font-weight: normal;
}
.headerSortUp:after {
	content:' \25b4';
	color:rgba(255,255,255,0.15);
}
.headerSortDown:after {
	content:' \25be';
	color:rgba(255,255,255,0.15);
}





/* Newsletter Signup */

.signup {
	background-color: #7fbf4d;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
	background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: linear-gradient(top, #7fbf4d, #63a62f);
	border: 1px solid #63a62f;
	border-bottom: 1px solid #5b992b;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
	box-shadow: inset 0 1px 0 0 #96ca6d;
	color: #fff;
	font-family:arial;
	font-weight:bold;
	font-size:12px;
	padding: 7px 0 8px 0;
	width:50%;
	text-align: center;
	text-shadow: 0 -1px 0 #4c9021;
	display:block;
	margin:0 auto;
  }

  .signup:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer; }


	.signup:active {
		-webkit-box-shadow: inset 0 0 8px 4px #548c29;
		box-shadow: inset 0 0 8px 4px #548c29;
	}

/* --------------- */

.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1
}

/* social media icons
================================================== */
.social {
	height:40px;
	display:inline-block;
	margin:0 auto;
}
.social li {
	float: left;
}
.social li a {
	-webkit-transition: all 250ms ease-out;
	-moz-transition: all 250ms ease-out;
	-o-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
    display: block;
    height: 30px;
    margin: 0 2px 0 0;
    padding: 8px 6px;
    width: 30px;
    text-decoration:none;
    font-size:0;
    border-radius:4px;
}

.social li a:hover {
    margin: -8px 2px 0 0;
    padding: 16px 6px 16px;
    height:46px;
}

.social li a:before {
	font-family:'FontAwesome',icon;
	display:block;
	text-align:center;
	font-size:18px;
	margin-top:-1px;
	color:#fff;
	text-indent:0;
	text-align:center;
	width:30px;
	margin-left:-6px;
	opacity:0.99;
	font-style: normal;
	font-weight: normal;
}

.social .twitter a:before { content:'\F303' }
.social li.twitter a:hover {background: #33CCFF}

.social .facebook a:before { content:'\f300' }
.social li.facebook a:hover {background: #3B5998}

.social .vimeo a:before { content:'\F30F' }
.social li.vimeo a:hover {background: #86B32D}

.social .gplus a:before { content:'\F309' }
.social li.gplus a:hover {background: #D6492C}

.social .github a:before { content:'\f308' }
.social li.github a:hover {background: #4183c4}

.social .skype a:before { content:'\F30B' }
.social li.skype a:hover {background: #00b0f6}

.social .icq a:before { content:'\F304' }
.social li.icq a:hover {background: #8aee58}

.social .vkontakte-rect a:before { content:'\F30A' }
.social li.vkontakte-rect a:hover {background: #49759c}

.social .odnoklassniki a:before { content:'\F30C' }
.social li.odnoklassniki a:hover {background: #ff9935}

.social .friendfeed a:before { content:'\F312' }
.social li.friendfeed a:hover {background: #5487c6}

.social .blogger a:before { content:'\F314' }
.social li.blogger a:hover {background: #ff6300}

.social .jabber a:before { content:'\F317' }
.social li.jabber a:hover {background: #c40515}

.social .linkedin a:before { content:'\F31A' }
.social li.linkedin a:hover {background: #4875B4}

.social .picasa a:before { content:'\F31C' }
.social li.picasa a:hover {background: #9864ae}

.social .wordpress a:before { content:'\F31D' }
.social li.wordpress a:hover {background: #21759b}

.social .deviantart a:before { content:'\F316' }
.social li.deviantart a:hover {background: #3f4845}

.social .lastfm a:before { content:'\F318' }
.social li.lastfm a:hover {background: #d2013a}

.social .tumbler a:before { content:'\F311' }
.social li.tumbler a:hover {background: #2B4964}

.social .youtube a:before { content:'\F313' }
.social li.youtube a:hover {background: #FF3333}

.social .flickr a:before { content:'\e800' }
.social li.flickr a:hover {background: #FE0883}

.social .behance a:before { content:'\f34e' }
.social li.behance a:hover {background: #009CEC}

.social .dribbble a:before { content:'\44' }
.social li.dribbble a:hover {background: #ea4c89}

.social .forrest a:before { content:'\3a' }
.social li.forrest a:hover {background: #517149}

.social .instagram a:before { content:'\f31e' }
.social li.instagram a:hover {background: #517fa4}

.social .pinterest a:before { content:'\31' }
.social li.pinterest a:hover {background: #d83733}

.social .vine a:before { content:'\f1ca' }
.social li.vine a:hover {background: #00bf8f}

.social .snapchat a:before { content:'\f1d0' }
.social li.snapchat a:hover {background: #fffc00}

/* Syntax highlighting */

pre code {
	font-family:'Inconsolata', 'Ubuntu Mono', monospace;
	padding:0;
	font-size:15px;
	line-height:16px;
	white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;
	color:#000;
}

pre .nocode {background:transparent;color:#363636}
.str { color: #DD0000; }
.kwd { color: #007700; }
.com { color: #FF8000; font-style:italic; }
.typ { color: #0000BB; }
.lit { color: #0000BB; }
.pun { color: #007700; }
.pln { color: #0000BB; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }
pre li{list-style-type:decimal;list-style-position:inside;color:#c1c1c1}
pre li:hover{background:rgba(0,0,0,0.02)}



/* spin animation
================================================== */

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}